.app-container {
  display: flex;
}

.header {
  width: 90%;
  margin-left: 10%;
  position: fixed;

}

.content {
  width: 100%;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 2;
}

.post-container {
  margin-top: 100px;
  margin-left: 200px;
}

.post-card {
  width: 30rem;
  margin: 20px;
  z-index: -1;
}

.tag {
  margin: 0 3px;
}

.reaction {
  width: 100%;
  margin: 15px 0 0 0;
}

.create-post {
  width: 80%;
  margin-top: 100px;
  margin-left: 20%;
}

.welcome-message {
  margin: 3rem 0;
}

.spinner {
  margin-top: 5rem;
}